.tab {
  display: flex;
  align-items: center;
}

.tab .list {
  padding: 1rem 5rem;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  background: #fff;
  border-radius: 6px;
  margin: 1rem 1rem 1rem 0;
  border: 1px solid transparent;
}

.tab .active {
  background: var(--color-primary);
  color: #fff;
  font-weight: 600;
}
