@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --background: white;
  --background-light: rgb(250, 240, 240);
  --foreground: #1b262c;
  --color-text-primary: #1b262c;

  --color-primary: #d82c23;
  --color-gray: #f5f5f5;
  --color-gray-dark: #efefef;
  --color-gray-light: #eee;
  --color-dark: #222;
  --color-light: #fff;
  --color-red: #eb1a0f;
  --color-info: blue;
  --color-success: #8bc34a;
  --color-danger: #c00;
  --color-danger-light: #fbe1e3;

  --border-radius: 6px;
}

[data-theme='dark'] {
  --background: #1b262c;
  --background-light: #3a3b3c;
  --foreground: white;
  --color-text-primary: white;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  background-color: var(--background);
  color: var(--color-text-primary);
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

[role='button'] {
  cursor: pointer;
}

.dots {
  bottom: 3rem;
}

.dots li button:before {
  font-size: 1rem;
}

.slick-slider {
  overflow: hidden;
}

input,
select,
textarea {
  font-family: 'Poppins';
}
