.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 15px;

  display: none;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  color: #fff;
}

.links li:not(:last-child) {
  margin-right: 30px;
}

@media only screen and (min-width: 1024px) {
  .footer {
    display: block;
  }
}
