.wrapper {
  height: calc(100vh - 7rem);
  display: flex;
}
.sidebar {
  display: none;
  height: 100%;
}

.mainContent {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  .sidebar {
    display: block;
  }
}
