.banner {
  height: 55rem;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .banner {
    height: 35rem;
  }
}

.banner .img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
