.qtyContainer {
  display: flex;
  border: 1px solid #e6e6e6;
  height: 4rem;
}

.qtyInput {
  width: 6rem;
  text-align: center;
  font-size: 1.6rem;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: #f7f7f7;
}

.qtyInput:disabled {
  opacity: 0.5;
}

.qtyBtn {
  background-color: #fff;
  border: 1px solid transparent;
  width: 4rem;
  font-size: 1.6rem;
}

.qtyBtn:disabled {
  opacity: 0.5;
}
