.productGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  margin: 2rem 0;
}

@media only screen and (min-width: 768px) {
  .productGrid {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
}
