.tableContainer {
  padding: 2rem 0;
}

.addProductContainer {
  display: flex;
  justify-content: flex-end;
}

.table {
  width: 100%;
}

.table td {
  border-bottom: 1px solid var(--color-dark);
  padding: 1rem 0;
  text-align: center;
  font-size: 1.6rem;
}

.table th {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 1px solid var(--color-dark);
  padding: 1rem;
}

.productInfo {
  display: flex;
}

.productInfo img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
.name {
  font-size: 1.7rem;
  padding: 0 1rem;
}

.desc {
  width: 20rem;
}

.btnDelete {
  padding: 1rem 1.5rem;
  background-color: var(--color-primary);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.btnDelete .text {
  margin-right: 0.5rem;
}

.price {
  color: var(--color-primary);
  font-weight: 600;
}
